---
import {Image} from 'astro:assets';

import authentication from '../assets/authentication.png';
import inspectDeployments from '../assets/inspect-deployments.png';
import linkProjects from '../assets/link-projects.png';
import manageProjects from '../assets/manage-projects.png';
import monitorDeployments from '../assets/monitor-deployments.png';
import statusBar from '../assets/status-bar.png';
import wallpaperDark from '../assets/wallpaper-dark.jpg';
import wallpaperLight from '../assets/wallpaper-light.jpg';
---

<div class="w-full grid grid-cols-2 gap-5 md:grid-cols-3 gap-10 bg-gray-1 py-10">
  <div>
    <Image alt="Monitor Deployments" src={monitorDeployments} />
  </div>
  <div>
    <Image alt="Manage Projects" src={manageProjects} />
  </div>
  <div>
    <Image alt="Link Projects" src={linkProjects} />
  </div>
  <div>
    <Image alt="Inspect Deployments" src={inspectDeployments} />
  </div>
  <div>
    <Image alt="Multiple Authentication Options" src={authentication} />
  </div>
  <div>
    <Image alt="Deployment Item on Status Bar" src={statusBar} />
  </div>
</div>

<style
  define:vars={{
    wallpaperLight: `url(${wallpaperLight.src})`,
    wallpaperDark: `url(${wallpaperDark.src})`,
  }}
>
  div:has(> img) {
    @apply rounded-xl overflow-hidden;

    background-image: var(--wallpaperLight);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }

  img {
    @apply w-full;
  }

  @media (prefers-color-scheme: dark) {
    div:has(> img) {
      background-image: var(--wallpaperDark);
    }

    img {
      /* I need to ask other people of their opinions on this. */
      /* filter: invert(1) hue-rotate(180deg); */
    }
  }
</style>
